<div class="container">
    <button (click)="goToHome()" class="logo"></button>
    <h1>CARICA UN NUOVO LAVORO</h1>
    <div
    class="drop-zone"
    (dragenter)="onDragOver($event)"
    (dragover)="onDragOver($event)"
    (dragleave)="onDragLeave($event)"
    (drop)="onDrop($event)">
       
        <p *ngIf="!file">Trascina il file Audio qui</p>
        <p *ngIf="file"> {{ file.name }}</p>
        <button (click)="goToUserPage()" class="vai-user-page">Torna al tuo Profilo</button>
    </div>

    <div *ngIf="file" class="work-form">
        <h3>New Work</h3>

        <label>Titolo:
            <input type="text" [(ngModel)]="work.title" name="title" required class="title"/>
        </label>

        <div *ngIf="isAdmin">
            <label>Artista:</label>
            <input type="text"[(ngModel)]="work.artName" name="artName" placeholder="Nome d'arte"/>
            
        </div>
        

        <label>BPM:
            <input type="number" [(ngModel)]="work.bpm" name="bpm" required class="bpm"/>
        </label>

        <label>Tonalità:
            <select [(ngModel)]="work.key" name="key" required class="key">
            <option *ngFor="let key of keys" [value]="key">{{ key }}</option>
            </select>
        </label>

        <button (click)="submitWork()">Salva Work</button>
    </div>
</div>